/* page resets */
html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Skranji', cursive;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(37, 37, 37);

}

img,
picture,
svg {
    max-width: 100%;
    display: block;
}

ul {
    margin: 0;
    padding: 0;
}


/* header */

header {
    display: flex;
    justify-content: center;
    align-items: CENTER;
    background-color: #e3e3e3;    
    color: lightgray;
    margin-bottom: 4rem;
}

.header-background {
    background-image: url(images/Runes-background.jpg);
    background-size:cover ;
    background-position: center;
    height: 200px;
    opacity: 85%;
}

.texturized-title {
    font-size: 6em;
    filter: drop-shadow(10px 10px 1px black);

    background: url(images/odin-recipes-texture.webp);
    background-size:100%;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}


@media (max-width: 750px) {

    .texturized-title {
        font-size: 4.5em;
        text-align: center;
        line-height: 1em;
    }

    header {
        margin-bottom: 1.5rem;
    }
}





/* index body */

ul {
    flex: 1;
}

.menu-contents {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 55px;
    line-height: 2.5em;
}

.menu-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.menu-items > li {
    list-style: none;

    background-image: url(images/viking-shield.png);
    background-position: center;
    background-size:cover;
}

label {
    font-size: 50px;
    max-width: 350px;
    margin-top: 10px;

    background: url(images/odin-recipes-texture.webp);
    background-size:100%;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

img {
    width: 350px;
    height: 340px;
    border-radius: 100vh;
    padding: 18px;
    opacity: 90%;
}

.menu-items > li:hover {
    filter: drop-shadow(0px 0px 20px rgb(156, 154, 154));

}

@media (max-width: 750px) {

    .menu-items {
        max-width: 250px;
    }

    img {
        width: 180px;
        height: 175px;
        padding: 10px;
    }
}


/* footer */

footer {

    display: flex;
    justify-content: center;
    margin-top: 50px;

}

.footer-img {
    padding: 5px 20px;
    border-radius: 0;
    height: 5rem;
    width: auto;
    filter: drop-shadow(2px 2px 2px black);
}

.footer-img:hover {
    filter: drop-shadow(1px 1px 10px rgb(151, 150, 149));
}